{% load static %}
<html>
    <style>
        body{
           width:100%;
           background-image: url('{% static "Images\PVS_Image.jpeg" %}'); 
        }
    </style>

<title> PEA
</title>
<body >
    <a href="{% url 'main' %}" style = "margin-left:90%; color:black;"><input type="submit" value="HOME"></a>
<center>

<form method="POST" action=" " enctype="multipart/form-data">
    {% csrf_token %}
    <h1>
<table style="width:1000; height:100;text-align:center ">
<tr  ><th style="font-size: 50px">Port Efficiency Analysis</th></tr></table>
<p><b><h4 style ="color:blue">* Upload your parameters data (Headers as 'Port' 'IN1' 'IN2' 'IN3' 'OUT1' 'OUT2') in excel format *</h4> </b></p>
<input type="file" name="myfile" required="required"><br><br><br>
<input type="submit" name="submit">
</form>
</body>
<h3>{{status}}</h3>
<h3 style = "color:red">{{error_in_file}}</h3>
</center>
</html>