<html>

    <body>
        <a href="{% url 'main' %}" style = "margin-left:90%; color:black;"><input type="submit" value="HOME"></a>

        <h1 style="margin: 50px; color: darkblue; font-weight: 900px;">Port Capacity </h1>
        
        <table id="display">
            {% for f in final %}
            <tr>
                <td>{{f.name}}</td>
                <td>{{f.anc_area}}</td>
                <td>{{f.berth_length}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
